/* Backgroud */
body {font-family: Arial, Helvetica, sans-serif;
	background-color:#394839;}

/* Texts - colors*/

.text1 {font-family: 'Playwrite US Modern';
  font-size: 36px;
  color:#ffdd99;
  text-align:center}
      
.text2 {font-family: 'Playwrite US Modern';
  font-size: 16px;
  color:#ffeecc
}
      
.text3 {font-family:'Montserrat';
  font-size: 27px;
  color:#ffeecc;
  text-align:center
}

.text4 {font-family:'Montserrat';
  font-size: 16px;
  color:#ffeecc;
  text-align:center;
}

.text5 {font-family:'Montserrat';
  font-size: 12px;
  color:#394839;
  text-align:center;
}

.text6 {font-family:'Montserrat';
  font-size: 27px;
  color:#394839;
  text-align:center;
}

.text7 {font-family:'Montserrat';
  font-size: 14px;
  color:#ffeecc;
  white-space:normal;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 40px;
}

/* Header Image backgroud */
.header img {
  width: 20px;
  height: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #555;
}

.header h1 {
  font-family: 'Playwrite US Modern';
  color:#ffdd99;
  position: relative;
  top: 18px;
  left: 10px;
}

/* Full-width input fields */
input[type=text], input[type=password],input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #04AA6D;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
    padding: 8px 15px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: auto;
    height: 35px;
  }

button:hover {
    opacity: 0.8;
  }

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 8px 20px;
  background-color: #f44336;
}

.loginbtn {
  width: auto;
  padding: 8px 26px;
}

/* Center the image and position the close button */
.imgcontainer {
  margin: 24px 0 12px 0;
  position: relative;
  display: block;
  text-align: center;
}

img.avatar {
  width: 40%;
  border-radius: 70%;
  width: 200px;
  height: 100px;
  text-align: center;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/*Navbar configurations */
.navbar {
  overflow: hidden;
  background-color: #2b3128;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Container blocks to the page */
.container-block {
            display: flex; /* Use flexbox for layout */
            justify-content: space-between; /* Space between elements */
            align-items: center; /* Align items vertically */
            padding: 20px; /* Add some padding */
            border: 1px solid #ccc; /* Optional border for visibility */
        }


.container-block2 {
            background-color: #f9fbfb;
            padding: 20px;
            border: 1px solid #ccc;
            text-align: center;
        }
/* Estilo para o wrapper dos blocos */
.blocks {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: nowrap;
}

/* Estilo para cada bloco */
.block {
  width: 27%; /* Cada bloco ocupará 30% do espaço */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

.text-left-block {
            margin-right: 20px; /* Add some space between the code block and the image */
            padding: 10px; /* Padding inside the code block */
            border-radius: 5px; /* Rounded corners */
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
        }

.text-left-block2 {
          margin-right: 10px; /* Add some space between the code block and the image */
          padding: 10px; /* Padding inside the code block */
          border-radius: 5px; /* Rounded corners */
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional shadow effect */
      }

.image {
      width: 600px;
      height: 300px;
      display: block;
      }

.image2 {
      width: 400px;
      height: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      height: auto; /* Maintain aspect ratio */
      }

.image3 {
        width: 300px;
        height: 300px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: auto; /* Maintain aspect ratio */
        }

.image4 {
          width: 40px;
          height: 40px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          height: auto; /* Maintain aspect ratio */
          }